In [27]:
%reload_ext autoreload
%autoreload 2
import sys, os
print(sys.executable)
module_path = os.path.abspath(os.path.join('..'))

# Add the directory to sys.path
if module_path not in sys.path:
    sys.path.append(module_path)
# Verify kernal path
import numpy as np
import pandas as pd
import os
import requests
from dotenv import load_dotenv
load_dotenv()

# time series dataframe
ts_prices = pd.read_parquet("../data/transformed/validated_prices_2022-08-02-2024-08-02.parquet") # reads in parquet-file in specified path and returns its data in a dataframe
ts_prices

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/venv/bin/python

,volume,vw_avr_price,open_price,close_price,high_price,low_price,num_transactions,datetime,price_diff,volume_sma_5,volume_change,SMA_5,SMA_20,EMA_5,EMA_20,vol_5,daily_return
0,5.669698e+07,164.743200,163.210000,165.35,165.850000,163.00,491310.000000,2022-08-02 00:00:00,0.000000,5.694134e+07,0.000000,165.318000,169.103000,165.350000,165.350000,0.071554,0.000000
1,5.669698e+07,164.743200,163.210000,165.35,165.850000,163.00,491310.000000,2022-08-03 00:00:00,0.000000,5.694134e+07,0.000000,165.318000,169.103000,165.350000,165.350000,0.071554,0.000000
2,5.669698e+07,164.743200,163.210000,165.35,165.850000,163.00,491310.000000,2022-08-04 00:00:00,0.000000,5.694134e+07,0.000000,165.318000,169.103000,165.350000,165.350000,0.071554,0.000000
3,5.669698e+07,164.743200,163.210000,165.35,165.850000,163.00,491310.000000,2022-08-05 04:00:00,0.000000,5.694134e+07,0.000000,165.318000,169.103000,165.350000,165.350000,0.071554,0.000000
4,5.791877e+07,165.126767,164.263333,165.19,166.503333,163.40,507545.666667,2022-08-06 00:00:00,-0.160000,5.694134e+07,0.021549,165.318000,169.103000,165.296667,165.334762,0.071554,-0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,3.515373e+07,218.131900,216.960000,218.24,219.300000,215.75,604680.000000,2024-07-29 04:00:00,0.093333,4.008290e+07,-0.042438,217.978000,225.414500,218.726415,221.994869,0.292077,0.000428
728,4.068162e+07,218.405900,219.190000,218.80,220.325000,216.12,584305.000000,2024-07-30 04:00:00,0.560000,3.812887e+07,0.157249,218.240000,224.705500,218.750943,221.690596,0.329983,0.002566
729,4.842297e+07,222.344100,221.440000,222.08,223.820000,220.63,668833.000000,2024-07-31 04:00:00,3.280000,3.984794e+07,0.190291,219.064000,224.431000,219.860629,221.727682,1.710839,0.014991
730,6.112524e+07,219.477300,224.370000,218.36,224.480000,217.02,876046.000000,2024-08-01 04:00:00,-3.720000,4.441905e+07,0.262319,219.125333,223.822000,219.360419,221.406950,1.670571,-0.016751
731,6.112524e+07,219.477300,224.370000,218.36,224.480000,217.02,876046.000000,2024-08-02 00:00:00,0.000000,4.930176e+07,0.000000,219.168000,223.148667,219.026946,221.116765,1.641804,0.000000

In [28]:
def get_cutoff_indicies(data, n_previous_days, step_size):
    stop_position = len(data)-1

    first_indx = 0
    last_indx = n_previous_days+1  # target index
    indicies = []

    while last_indx <= stop_position:
        indicies.append((first_indx, last_indx))

        first_indx += step_size
        last_indx += step_size
    
    return indicies

n_previous_days = 12  # make sure this constant across all uses
step_size = 1
indicies = get_cutoff_indicies(ts_prices, n_previous_days, step_size)
indicies[0:10]

[(0, 13),
 (1, 14),
 (2, 15),
 (3, 16),
 (4, 17),
 (5, 18),
 (6, 19),
 (7, 20),
 (8, 21),
 (9, 22)]

In [29]:
# (number_of_sequences, sequence_length, number_of_features)
# each sequence is an example, seq_len is number of days in each example, features is values per day
# number of cutoff indicies pair is a example
# for each cutoff indicies-pair get those days, create a matrix for each day add those days features as a row
# then add this matrix for this sequence to the total matrix as a single example
def transform_ts_data_into_features_target(ts_prices, n_previous_days, step_size):
    indicies = get_cutoff_indicies(ts_prices, n_previous_days, step_size)
    indicies = indicies[:len(indicies)-1]  # exclude last pair
    num_seqs = len(indicies)
    print(f"Number of sequences/examples: {num_seqs}")

    features = []  
    targets = []

    for pair in indicies:
        start_indx = pair[0]  # start-index of day-row to end-index of day-row, all days in between this range is a sequence/example
        end_indx = pair[1]  # target indx of row
        # minus -1 in end_indx to get 12 sequence length
        sequence_df = ts_prices.iloc[start_indx: end_indx]  # get day-rows from start-indx to just before end-indx, each element is a day in current-sequence-day-example

        cur_seq_days_matrix = []  # each row is the values of features for each day in cur-sequence-example
        for _, day_row in sequence_df.iterrows():
            
            values = list(day_row.drop(labels="datetime").values)
            cur_seq_days_matrix.append(values)

        features.append(cur_seq_days_matrix)
        target_value = ts_prices.iloc[end_indx]["close_price"]   # target row is end-indx close-price
        targets.append(target_value)

        if pair == indicies[0]: # confirm last-val of seq is not same as the target next value
            print(f"Last val: {sequence_df.iloc[-1]["close_price"]}")
            print(f"Target val: {target_value}")

    features = np.array(features, dtype=np.float32)
    targets = np.array(targets, dtype=np.float32)
    return features, targets

print(indicies)
features, targets = transform_ts_data_into_features_target(ts_prices, n_previous_days, step_size)
print(f"\nConfirm number of examples: {len(features) == len(targets)}")
print(f"Num-features-in-each-day: {len(ts_prices.columns)-1}")
print(f"N-previous-days: {n_previous_days}")
print(f"Step-size: {step_size}")
print(f'Features shape: {features.shape}')  # Should be (number_of_examples, n_previous_days, n_features)
print(f'Targets shape: {targets.shape}')    # Should be (number_of_examples,)
features

[(0, 13), (1, 14), (2, 15), (3, 16), (4, 17), (5, 18), (6, 19), (7, 20), (8, 21), (9, 22), (10, 23), (11, 24), (12, 25), (13, 26), (14, 27), (15, 28), (16, 29), (17, 30), (18, 31), (19, 32), (20, 33), (21, 34), (22, 35), (23, 36), (24, 37), (25, 38), (26, 39), (27, 40), (28, 41), (29, 42), (30, 43), (31, 44), (32, 45), (33, 46), (34, 47), (35, 48), (36, 49), (37, 50), (38, 51), (39, 52), (40, 53), (41, 54), (42, 55), (43, 56), (44, 57), (45, 58), (46, 59), (47, 60), (48, 61), (49, 62), (50, 63), (51, 64), (52, 65), (53, 66), (54, 67), (55, 68), (56, 69), (57, 70), (58, 71), (59, 72), (60, 73), (61, 74), (62, 75), (63, 76), (64, 77), (65, 78), (66, 79), (67, 80), (68, 81), (69, 82), (70, 83), (71, 84), (72, 85), (73, 86), (74, 87), (75, 88), (76, 89), (77, 90), (78, 91), (79, 92), (80, 93), (81, 94), (82, 95), (83, 96), (84, 97), (85, 98), (86, 99), (87, 100), (88, 101), (89, 102), (90, 103), (91, 104), (92, 105), (93, 106), (94, 107), (95, 108), (96, 109), (97, 110), (98, 111), (99, 112), (100, 113), (101, 114), (102, 115), (103, 116), (104, 117), (105, 118), (106, 119), (107, 120), (108, 121), (109, 122), (110, 123), (111, 124), (112, 125), (113, 126), (114, 127), (115, 128), (116, 129), (117, 130), (118, 131), (119, 132), (120, 133), (121, 134), (122, 135), (123, 136), (124, 137), (125, 138), (126, 139), (127, 140), (128, 141), (129, 142), (130, 143), (131, 144), (132, 145), (133, 146), (134, 147), (135, 148), (136, 149), (137, 150), (138, 151), (139, 152), (140, 153), (141, 154), (142, 155), (143, 156), (144, 157), (145, 158), (146, 159), (147, 160), (148, 161), (149, 162), (150, 163), (151, 164), (152, 165), (153, 166), (154, 167), (155, 168), (156, 169), (157, 170), (158, 171), (159, 172), (160, 173), (161, 174), (162, 175), (163, 176), (164, 177), (165, 178), (166, 179), (167, 180), (168, 181), (169, 182), (170, 183), (171, 184), (172, 185), (173, 186), (174, 187), (175, 188), (176, 189), (177, 190), (178, 191), (179, 192), (180, 193), (181, 194), (182, 195), (183, 196), (184, 197), (185, 198), (186, 199), (187, 200), (188, 201), (189, 202), (190, 203), (191, 204), (192, 205), (193, 206), (194, 207), (195, 208), (196, 209), (197, 210), (198, 211), (199, 212), (200, 213), (201, 214), (202, 215), (203, 216), (204, 217), (205, 218), (206, 219), (207, 220), (208, 221), (209, 222), (210, 223), (211, 224), (212, 225), (213, 226), (214, 227), (215, 228), (216, 229), (217, 230), (218, 231), (219, 232), (220, 233), (221, 234), (222, 235), (223, 236), (224, 237), (225, 238), (226, 239), (227, 240), (228, 241), (229, 242), (230, 243), (231, 244), (232, 245), (233, 246), (234, 247), (235, 248), (236, 249), (237, 250), (238, 251), (239, 252), (240, 253), (241, 254), (242, 255), (243, 256), (244, 257), (245, 258), (246, 259), (247, 260), (248, 261), (249, 262), (250, 263), (251, 264), (252, 265), (253, 266), (254, 267), (255, 268), (256, 269), (257, 270), (258, 271), (259, 272), (260, 273), (261, 274), (262, 275), (263, 276), (264, 277), (265, 278), (266, 279), (267, 280), (268, 281), (269, 282), (270, 283), (271, 284), (272, 285), (273, 286), (274, 287), (275, 288), (276, 289), (277, 290), (278, 291), (279, 292), (280, 293), (281, 294), (282, 295), (283, 296), (284, 297), (285, 298), (286, 299), (287, 300), (288, 301), (289, 302), (290, 303), (291, 304), (292, 305), (293, 306), (294, 307), (295, 308), (296, 309), (297, 310), (298, 311), (299, 312), (300, 313), (301, 314), (302, 315), (303, 316), (304, 317), (305, 318), (306, 319), (307, 320), (308, 321), (309, 322), (310, 323), (311, 324), (312, 325), (313, 326), (314, 327), (315, 328), (316, 329), (317, 330), (318, 331), (319, 332), (320, 333), (321, 334), (322, 335), (323, 336), (324, 337), (325, 338), (326, 339), (327, 340), (328, 341), (329, 342), (330, 343), (331, 344), (332, 345), (333, 346), (334, 347), (335, 348), (336, 349), (337, 350), (338, 351), (339, 352), (340, 353), (341, 354), (342, 355), (343, 356), (344, 357), (345, 358), (346, 359), (347, 360), (348, 361), (349, 362), (350, 363), (351, 364), (352, 365), (353, 366), (354, 367), (355, 368), (356, 369), (357, 370), (358, 371), (359, 372), (360, 373), (361, 374), (362, 375), (363, 376), (364, 377), (365, 378), (366, 379), (367, 380), (368, 381), (369, 382), (370, 383), (371, 384), (372, 385), (373, 386), (374, 387), (375, 388), (376, 389), (377, 390), (378, 391), (379, 392), (380, 393), (381, 394), (382, 395), (383, 396), (384, 397), (385, 398), (386, 399), (387, 400), (388, 401), (389, 402), (390, 403), (391, 404), (392, 405), (393, 406), (394, 407), (395, 408), (396, 409), (397, 410), (398, 411), (399, 412), (400, 413), (401, 414), (402, 415), (403, 416), (404, 417), (405, 418), (406, 419), (407, 420), (408, 421), (409, 422), (410, 423), (411, 424), (412, 425), (413, 426), (414, 427), (415, 428), (416, 429), (417, 430), (418, 431), (419, 432), (420, 433), (421, 434), (422, 435), (423, 436), (424, 437), (425, 438), (426, 439), (427, 440), (428, 441), (429, 442), (430, 443), (431, 444), (432, 445), (433, 446), (434, 447), (435, 448), (436, 449), (437, 450), (438, 451), (439, 452), (440, 453), (441, 454), (442, 455), (443, 456), (444, 457), (445, 458), (446, 459), (447, 460), (448, 461), (449, 462), (450, 463), (451, 464), (452, 465), (453, 466), (454, 467), (455, 468), (456, 469), (457, 470), (458, 471), (459, 472), (460, 473), (461, 474), (462, 475), (463, 476), (464, 477), (465, 478), (466, 479), (467, 480), (468, 481), (469, 482), (470, 483), (471, 484), (472, 485), (473, 486), (474, 487), (475, 488), (476, 489), (477, 490), (478, 491), (479, 492), (480, 493), (481, 494), (482, 495), (483, 496), (484, 497), (485, 498), (486, 499), (487, 500), (488, 501), (489, 502), (490, 503), (491, 504), (492, 505), (493, 506), (494, 507), (495, 508), (496, 509), (497, 510), (498, 511), (499, 512), (500, 513), (501, 514), (502, 515), (503, 516), (504, 517), (505, 518), (506, 519), (507, 520), (508, 521), (509, 522), (510, 523), (511, 524), (512, 525), (513, 526), (514, 527), (515, 528), (516, 529), (517, 530), (518, 531), (519, 532), (520, 533), (521, 534), (522, 535), (523, 536), (524, 537), (525, 538), (526, 539), (527, 540), (528, 541), (529, 542), (530, 543), (531, 544), (532, 545), (533, 546), (534, 547), (535, 548), (536, 549), (537, 550), (538, 551), (539, 552), (540, 553), (541, 554), (542, 555), (543, 556), (544, 557), (545, 558), (546, 559), (547, 560), (548, 561), (549, 562), (550, 563), (551, 564), (552, 565), (553, 566), (554, 567), (555, 568), (556, 569), (557, 570), (558, 571), (559, 572), (560, 573), (561, 574), (562, 575), (563, 576), (564, 577), (565, 578), (566, 579), (567, 580), (568, 581), (569, 582), (570, 583), (571, 584), (572, 585), (573, 586), (574, 587), (575, 588), (576, 589), (577, 590), (578, 591), (579, 592), (580, 593), (581, 594), (582, 595), (583, 596), (584, 597), (585, 598), (586, 599), (587, 600), (588, 601), (589, 602), (590, 603), (591, 604), (592, 605), (593, 606), (594, 607), (595, 608), (596, 609), (597, 610), (598, 611), (599, 612), (600, 613), (601, 614), (602, 615), (603, 616), (604, 617), (605, 618), (606, 619), (607, 620), (608, 621), (609, 622), (610, 623), (611, 624), (612, 625), (613, 626), (614, 627), (615, 628), (616, 629), (617, 630), (618, 631), (619, 632), (620, 633), (621, 634), (622, 635), (623, 636), (624, 637), (625, 638), (626, 639), (627, 640), (628, 641), (629, 642), (630, 643), (631, 644), (632, 645), (633, 646), (634, 647), (635, 648), (636, 649), (637, 650), (638, 651), (639, 652), (640, 653), (641, 654), (642, 655), (643, 656), (644, 657), (645, 658), (646, 659), (647, 660), (648, 661), (649, 662), (650, 663), (651, 664), (652, 665), (653, 666), (654, 667), (655, 668), (656, 669), (657, 670), (658, 671), (659, 672), (660, 673), (661, 674), (662, 675), (663, 676), (664, 677), (665, 678), (666, 679), (667, 680), (668, 681), (669, 682), (670, 683), (671, 684), (672, 685), (673, 686), (674, 687), (675, 688), (676, 689), (677, 690), (678, 691), (679, 692), (680, 693), (681, 694), (682, 695), (683, 696), (684, 697), (685, 698), (686, 699), (687, 700), (688, 701), (689, 702), (690, 703), (691, 704), (692, 705), (693, 706), (694, 707), (695, 708), (696, 709), (697, 710), (698, 711), (699, 712), (700, 713), (701, 714), (702, 715), (703, 716), (704, 717), (705, 718), (706, 719), (707, 720), (708, 721), (709, 722), (710, 723), (711, 724), (712, 725), (713, 726), (714, 727), (715, 728), (716, 729), (717, 730), (718, 731)]
Number of sequences/examples: 718
Last val: 172.82666666666665
Target val: 173.19

Confirm number of examples: True
Num-features-in-each-day: 16
N-previous-days: 12
Step-size: 1
Features shape: (718, 13, 16)
Targets shape: (718,)

array([[[ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        ...,
        [ 6.8039384e+07,  1.7107539e+02,  1.6982001e+02, ...,
          1.6647890e+02,  3.0757976e+00,  2.1425605e-02],
        [ 6.3390152e+07,  1.7159207e+02,  1.7038667e+02, ...,
          1.6704884e+02,  3.0654938e+00,  2.1111756e-03],
        [ 5.8740924e+07,  1.7210873e+02,  1.7095334e+02, ...,
          1.6759911e+02,  2.0051730e+00,  2.1067280e-03]],

       [[ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        ...,
        [ 6.3390152e+07,  1.7159207e+02,  1.7038667e+02, ...,
          1.6704884e+02,  3.0654938e+00,  2.1111756e-03],
        [ 5.8740924e+07,  1.7210873e+02,  1.7095334e+02, ...,
          1.6759911e+02,  2.0051730e+00,  2.1067280e-03],
        [ 5.4091696e+07,  1.7262540e+02,  1.7152000e+02, ...,
          1.6813158e+02,  1.9020565e+00,  2.1022991e-03]],

       [[ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.6696984e+07,  1.6474319e+02,  1.6321001e+02, ...,
          1.6535001e+02,  7.1554177e-02,  0.0000000e+00],
        [ 5.7918768e+07,  1.6512677e+02,  1.6426334e+02, ...,
          1.6533476e+02,  7.1554177e-02, -9.6764439e-04],
        ...,
        [ 5.8740924e+07,  1.7210873e+02,  1.7095334e+02, ...,
          1.6759911e+02,  2.0051730e+00,  2.1067280e-03],
        [ 5.4091696e+07,  1.7262540e+02,  1.7152000e+02, ...,
          1.6813158e+02,  1.9020565e+00,  2.1022991e-03],
        [ 5.6377048e+07,  1.7274271e+02,  1.7278000e+02, ...,
          1.6859810e+02,  4.4120163e-01, -9.2384085e-04]],

       ...,

       [[ 5.5878904e+07,  2.2883960e+02,  2.2945000e+02, ...,
          2.2596083e+02,  2.3910267e+00, -2.5295971e-02],
        [ 6.4346032e+07,  2.2518100e+02,  2.3028000e+02, ...,
          2.2579123e+02,  4.5164819e+00, -2.0534778e-02],
        [ 4.8020040e+07,  2.2473560e+02,  2.2482001e+02, ...,
          2.2565015e+02,  5.1906090e+00,  5.7989114e-04],
        ...,
        [ 3.8269672e+07,  2.1797676e+02,  2.1812000e+02, ...,
          2.2283679e+02,  3.1522350e+00,  4.2821313e-04],
        [ 3.6711700e+07,  2.1805434e+02,  2.1753999e+02, ...,
          2.2239012e+02,  3.7763593e-01,  4.2802983e-04],
        [ 3.5153728e+07,  2.1813190e+02,  2.1696001e+02, ...,
          2.2199487e+02,  2.9207686e-01,  4.2784671e-04]],

       [[ 6.4346032e+07,  2.2518100e+02,  2.3028000e+02, ...,
          2.2579123e+02,  4.5164819e+00, -2.0534778e-02],
        [ 4.8020040e+07,  2.2473560e+02,  2.2482001e+02, ...,
          2.2565015e+02,  5.1906090e+00,  5.7989114e-04],
        [ 4.6999404e+07,  2.2482990e+02,  2.2555000e+02, ...,
          2.2551141e+02,  4.6735950e+00, -5.2011351e-04],
        ...,
        [ 3.6711700e+07,  2.1805434e+02,  2.1753999e+02, ...,
          2.2239012e+02,  3.7763593e-01,  4.2802983e-04],
        [ 3.5153728e+07,  2.1813190e+02,  2.1696001e+02, ...,
          2.2199487e+02,  2.9207686e-01,  4.2784671e-04],
        [ 4.0681624e+07,  2.1840590e+02,  2.1919000e+02, ...,
          2.2169060e+02,  3.2998317e-01,  2.5659825e-03]],

       [[ 4.8020040e+07,  2.2473560e+02,  2.2482001e+02, ...,
          2.2565015e+02,  5.1906090e+00,  5.7989114e-04],
        [ 4.6999404e+07,  2.2482990e+02,  2.2555000e+02, ...,
          2.2551141e+02,  4.6735950e+00, -5.2011351e-04],
        [ 4.5978772e+07,  2.2492419e+02,  2.2628000e+02, ...,
          2.2537477e+02,  2.0990615e+00, -5.2038417e-04],
        ...,
        [ 3.5153728e+07,  2.1813190e+02,  2.1696001e+02, ...,
          2.2199487e+02,  2.9207686e-01,  4.2784671e-04],
        [ 4.0681624e+07,  2.1840590e+02,  2.1919000e+02, ...,
          2.2169060e+02,  3.2998317e-01,  2.5659825e-03],
        [ 4.8422976e+07,  2.2234410e+02,  2.2144000e+02, ...,
          2.2172768e+02,  1.7108387e+00,  1.4990860e-02]]], dtype=float32)

In [34]:
# COMPUTE FUTURE PREDICTIONS: latest version of this is in inference.py
from datetime import datetime, timedelta
from src.data import add_new_features, interpolate_backfill_frontfill
def get_previous_rows(prices, cur_date, n_previous=12):
    # Find the index of cur_date
    cur_index = prices[prices["datetime"] == cur_date].index[0]
    
    # Get the previous n_previous rows
    previous_rows = prices.iloc[cur_index - n_previous:cur_index+1]  # TBD***: ADDING ONE HERE AS A TEMPORARY FIX TO GET 13-SEQUENCE LENGTH EVEN THOUGH ITS SUPPOSED TO BE 12
    return previous_rows

def transform_single_example_into_features(example_prices): # given dataframe of days which is perceived as a single sequence transform that into features/targets
    features = []
    cur_seq_days_matrix = []
    for _, day_row in example_prices.iterrows():  # iterate through every day in example-sequence
        values = list(day_row.drop(labels="datetime").values)  # get the values for cur-day and add it to the 2d-matrix where each row represents data for that day
        cur_seq_days_matrix.append(values)

    features.append(cur_seq_days_matrix)  # add the only sequence-matrix to features

    features = np.array(features, dtype=np.float32)
    return features  # there is no targets because its only used for future data

def get_future_predictions(num_days, prices, model):  # ts-data
    prices["datetime"] = pd.to_datetime(prices["datetime"]).dt.tz_localize(None)

    # Get the last date in the DataFrame
    last_date_in_df = prices["datetime"].max()
    
    # Generate future dates
    future_dates = [(last_date_in_df + timedelta(days=i)).strftime('%Y-%m-%d') for i in range(1, num_days + 1)]
    future_date_range = pd.date_range(start=future_dates[0], end=future_dates[-1], freq='D')

    future_dates_df = pd.DataFrame({
            'datetime': future_date_range,  # pass missing dates
            'open_price': np.nan,
            'high_price': np.nan,
            'low_price': np.nan,
            'close_price': np.nan,
            'volume': np.nan,
            'vw_avr_price': np.nan,
            'num_transactions': np.nan,

            "SMA_5": np.nan,
            "SMA_20": np.nan,
            "EMA_5": np.nan,
            "EMA_20": np.nan,
            "vol_5": np.nan,
            "daily_return": np.nan,
            "price_diff": np.nan,
            "volume_sma_5": np.nan,
            "volume_change": np.nan
        })
    # future_dates
    prices = pd.concat([prices, future_dates_df]).drop_duplicates(subset=['datetime']).sort_values(by='datetime').reset_index(drop=True)

    n_previous_days = 12
    step_size = 1

    predictions = []
    # iterate through every future-date
    for cur_date in future_date_range:
        cur_date_row = pd.DataFrame(prices[prices["datetime"] == cur_date])  # get the future-date row in prices-df
        previous_rows = get_previous_rows(prices, cur_date, n_previous_days)  # get the previous N-rows which are features in prices-df to cur-date-row
        
        # print(f"\nCur date: {cur_date}")
        # print(previous_rows["datetime"])
        
        features = transform_single_example_into_features(previous_rows)  # this features only contains one sequence
        # print(f"\nFeatures: {features.shape}")

        single_example = features[0].reshape(1, -1)
        preds = model.predict(single_example)
        predictions.append(preds.flatten())
        # print(f"Preds: {preds}")
        # print("----------------------------------------")

        cur_date_row["close_price"] = preds.flatten()
        prices = pd.concat([prices, cur_date_row]).drop_duplicates(subset=['datetime']).sort_values(by='datetime').reset_index(drop=True)
        prices = add_new_features(prices)
        prices = interpolate_backfill_frontfill(prices)

    results = pd.DataFrame(predictions, columns=["future_predicted_prices"])
    results["datetime"] =future_date_range
    return results


import pickle
model_path = "../models/lgb_model3.pkl"

# Load the model
with open(model_path, 'rb') as file:
    model = pickle.load(file)
num_days = 10
results = get_future_predictions(num_days, ts_prices, model)
print(f"Predictions for next {num_days}")
results

Predictions for next 10

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/src/data.py:130: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  prices_interpolated['daily_return'] = prices_interpolated['close_price'].pct_change()
/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/src/data.py:139: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  prices_interpolated['volume_change'] = prices_interpolated['volume'].pct_change()

   future_predicted_prices   datetime
0               141.098736 2024-08-03
1               209.586936 2024-08-04
2               209.664570 2024-08-05
3               210.836736 2024-08-06
4               210.966256 2024-08-07
5               210.801558 2024-08-08
6               210.923162 2024-08-09
7               210.866849 2024-08-10
8               210.825127 2024-08-11
9               209.471167 2024-08-12

In [42]:
# import numpy as np
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import LSTM, Dense, Dropout, Bidirectional
# from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator


# X = features
# Y = targets

# model = Sequential()
# model.add(Bidirectional(LSTM(units=10, return_sequences=True, input_shape=(X.shape[1], X.shape[2]))))
# model.add(Dropout(0.2))
# model.add(LSTM(units=100))
# model.add(Dense(1))  # Output layer for a single prediction

# model.compile(optimizer='adam', loss='mean_squared_error')

# history = model.fit(X, Y, epochs=50, batch_size=32, validation_split=0.2)

# predictions = model.predict(X)

# # Example: print the first few predictions
# print(targets[:5])
# print(predictions[:5])

In [43]:
# import numpy as np
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import SimpleRNN, Dense, Dropout

# model = Sequential()
# model.add(SimpleRNN(units=10, return_sequences=True, input_shape=(X.shape[1], X.shape[2])))
# model.add(Dropout(0.2))  # Dropout to prevent overfitting
# model.add(SimpleRNN(units=30))  # Second RNN layer
# model.add(Dense(1))  # Output layer for a single prediction

# model.compile(optimizer='adam', loss='mean_squared_error')

# history = model.fit(X, Y, epochs=10, batch_size=32, validation_split=0.2)
# predictions = model.predict(X)

# # Example: print the first few predictions
# print(targets[:5])
# print(predictions[:5])

In [44]:
# X_flat = X.reshape(X.shape[0], -1)

# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, Dropout

# # Define the model
# model = Sequential()
# model.add(Dense(units=128, activation='relu', input_shape=(X_flat.shape[1],)))  # Input shape is (sequence_length * number_of_features,)
# model.add(Dropout(0.2))  # Dropout for regularization
# model.add(Dense(units=64, activation='relu'))


# model.add(Dense(1))  # Output layer for a single prediction

# # Compile the model
# model.compile(optimizer='adam', loss='mean_squared_error')

# history = model.fit(X_flat, Y, epochs=10, batch_size=32, validation_split=0.2)

# predictions = model.predict(X_flat)

# print(targets[:5])
# print(predictions[:5])

In [38]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

num_samples, sequence_length, num_features = X.shape
X_train_flattened = X.reshape(num_samples, sequence_length * num_features)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_flattened, Y)

y_pred = model.predict(X_train_flattened)

mse = mean_squared_error(Y, y_pred)
print(f"Mean Squared Error: {mse}")
# Print the first few predictions and actual values
print("Predictions:", y_pred[:5])
print("Actual values:", Y[:5])

Mean Squared Error: 0.7629116531530507
Predictions: [173.20205139 172.99509949 173.702052   175.07864731 172.23541946]
Actual values: [173.19 173.03 174.55 174.15 171.52]

In [16]:
# cannot combine because 3d:
# tabular_data = pd.DataFrame(features)
# tabular_data["target_close_price_next_day"] = pd.DataFrame(targets)
# tabular_data
# # each column is a dayx-featurey

# dont save because its 3d: save features/targets tabular data
# tabular_data.to_parquet("../data/transformed/tabular_prices_2022-08-02-2024-08-02.parquet")

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/venv/lib/python3.12/site-packages/pandas/io/parquet.py:190: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  table = self.api.Table.from_pandas(df, **from_pandas_kwargs)

Mean Squared Error: 0.9815958805094114
221

Random Forest MSE: 0.7365136091476493